.aboutMe > img {
  margin-bottom: var(--spacing);
}

.aboutMe h1 {
  margin: 0;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .aboutMe {
    display: flex;
    gap: calc(var(--spacing) * 2);
  }
  .aboutMe > img {
    margin-bottom: 0;
  }
}
