.homeHero {
  padding-top: calc(var(--spacing) * 4);
}

.recentPosts {
  margin: 2rem 0;
  & header {
    display: flex;
  }
  & article {
    margin-bottom: 1rem;
  }
  & a h3 {
    margin: 0;
    font-size: 1.25rem;
  }
}
