.postContent,
.blogNav {
  max-width: calc(var(--spacing) + 72ch);
  margin-left: 0 auto;
  padding: var(--block-spacing-vertical) calc(var(--spacing));
}

/*
 Markdoc renders an an "article" node at the top level of the post content.
 This CSS overrides the default styling from pico of articles inside a post.
 */
.postContent > article {
  background: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
