.blogNav {
  padding-right: 1rem;
  & > ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;

    list-style: none;
  }
}

.container {
  max-width: 800px;
  padding: 20px;
}
